.grid {
  background-image: url('../../../assets/gestão-de-estoque.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vmin;
}

@media screen and (min-width: 1400px) {
  .grid {
    background-position: top;
  }
}

.flex
{
  cursor: pointer;
}
